@if (appointmentStore.loading()) {
<div class="info loading">Loading...</div>
}

@if (appointmentStore.error()) {
<div class="info error">{{ appointmentStore.error() }}</div>
}

@if (appointmentList().length > 0) {
<div class="row header">
    <div>ID</div>
    <div>Clinic ID</div>
    <div>Patient</div>
    <div>Reason</div>
</div>

<!-- Virtual Scroll -->
<cdk-virtual-scroll-viewport itemSize="50" class="viewport" >
    <div *cdkVirtualFor="let appt of appointmentList(); trackBy: trackById" class="row">
        <div>{{ appt.id }}</div>
        <div>{{ appt.clinicId }}</div>
        <div>{{ appt.patientName }}</div>
        <div>{{ appt.reason }}</div>
    </div>
</cdk-virtual-scroll-viewport>
} @else if (!appointmentStore.loading()) {
<div class="info no-data">No data found</div>
}